*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    /*outline: 1px solid red;*/
}

html,
body {
    margin: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
    color: #090909;
}

/***Nav-Bar***/

nav {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding-right: 1.5em;*/
    margin: 1em 0;
}

    /*left-side*/

.logo-div {
    display: flex;
    align-items: center;
    gap: 0.2em;
    margin-left: 1.25em;
}

    .logo-img {
    width: 1.5rem;
    }

    .logo-p {
    font-weight: 700;
    font-size: 0.85rem;
    line-height: 108%;
    letter-spacing: -3%;
    }

    /*right-side*/

nav ul {
    text-transform: uppercase;
    list-style: none;
    
    display: flex;
    
    justify-content: space-between;
    margin-right: 1.2em;
    gap: 2.2em;
   
}

    nav li {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 100%;
    }

        nav a {
        
        color:inherit;
        text-decoration: none;
        }

/***HERO***/
.card-h1,
.card-h2,
.card-p{
    margin: 0;
} 

.card-h1 {
    grid-area: h1;
    font-size: 2rem;
    font-weight: 700;
}

.card-h2 {
    grid-area: h2;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
}

.card-p {
    grid-area: pp;
    font-size: 1rem;
    font-weight: 400;
    
}

/*Styles*/

.hero-div {
    display: grid;
    grid-template: 1fr / 1fr;
    width: 100%;
    height: 293px;
   
    
}

    .hero-div img,
    .hero-grid {
        grid-area: 1 / 1;
    }



    .hero-div img {
      
        width: 100%;
        min-height: 293px;
        height: 30vh;
        object-fit: cover;
        object-position: top;

    }

    .hero-grid {
        display: grid;
        grid-template-areas:
            "h2"
            "h1"
            "pp";
       
        align-self: end;
        max-width: 614px;
        color: #fff;
        margin: 0.25em 1.125em;
        padding-bottom: 1em;
    }

.entry-card-div {
    display: block
   
}

.blog-img {
    display: block;
    width: 100%;
    max-width: 374px;
    margin: 0 auto;
    padding: 1.5em 0;
}


.entry-text-grid {
    
    
    display: grid;
     grid-template-areas:
            "h2"
            "h1"
            "pp";
        align-self: end;
        max-width: 614px;
     
        margin: 0.25em 1.125em;
        padding-bottom: 1em;
       
}

/*Footer*/

.view-more-div,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}

footer {
    background-color: #202020;
    color: #ECECEC;
    padding: 1em;
}

.view-more-btn {
    border: none;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    font-size: 1rem;

    letter-spacing: 0.4em;
    cursor: pointer;
    text-decoration: underline;


    
}

footer p,
footer h4 {
    margin: 0;
}
