*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
    color: #090909;
}

/***Nav-Bar***/

nav {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding-right: 1.5em;*/
    margin: 1em 0;
}

    /*left-side*/

.logo-div {
    display: flex;
    align-items: center;
    gap: 0.2em;
    margin-left: 1.25em;
}

    .logo-img {
    width: 1.5rem;
    }

    .logo-p {
    font-weight: 700;
    font-size: 0.85rem;
    line-height: 108%;
    letter-spacing: -3%;
    }

    /*right-side*/

nav ul {
    text-transform: uppercase;
    list-style: none;
    
    display: flex;
    
    justify-content: space-between;
    margin-right: 1.2em;
    gap: 2.2em;
   
}

    nav li {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 100%;
    }

        nav a {
        
        color:inherit;
        text-decoration: none;
        }

/***HERO***/
.hero-div h1,
.hero-div h2,
.hero-div p{
    margin: 0;
} 

.hero-div h1 {
    grid-area: h1;
    font-size: 2rem;
    font-weight: 700;
}

.hero-div h2 {
    grid-area: h2;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
}

.hero-div p {
    grid-area: pp;
    font-size: 1rem;
    font-weight: 400;
    
}

/*Styles*/

.hero-div {
    display: grid;
    grid-template: 1fr / 1fr;
    /*position: relative;*/
    width: 100%;
    height: 293px;
   
    
}

.hero-div img,
.hero-text {
    grid-area: 1 / 1;
}



    .hero-div img {
        /*display: block;*/
        /*margin: 0 auto;*/
        width: 100%;
        min-height: 293px;
        height: 30vh;
        object-fit: cover;
        object-position: bottom;

    }

    .hero-text {
        display: grid;
        grid-template-areas:
            "h2"
            "h1"
            "pp";
       
        align-self: end;
        max-width: 440px;
        color: #fff;
        margin: 0.25em 1.125em;
    }